.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    color: #F8F9FA;
    height: 100px;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    letter-spacing: .12em;
    padding: 0 150px;
}

.navbar h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.navbar div {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 0 1em;
    display: flex;
    align-items: center;
}

.navbar_separator {
    width: 1px;
    background-color: #E5E5E5;
    height: 20px;
    margin: 0 10px;
}

.navbar svg {
    width: 20px;
    height: 20px;
    transition: .3s
}

.navbar svg:hover {
    color: gold;
}

.navbar a {
    color: white;
}